/deleteme
/gridname_to_grid.json
/info.txt
/sample_deleteme.jsonl
/sample_deleteme__default_only.jsonl
/test.jsonl
/test_default_predictions.txt
/test__default_only.jsonl
/test__extra_only.jsonl
/train.jsonl
/train__default_only.jsonl
/train__default_only_no_errors__2023_10_31__03_26_16.jsonl
/train__default_only__errors_list.pkl
/train__extra_only.jsonl
/train__extra_only_no_errors__2023_11_01__19_49_14.jsonl
/train__extra_only__errors_list.pkl
/valid.jsonl
/valid.ref
/valid__in_train_format.jsonl
/valid__in_train_format__default_only.jsonl
/valid__in_train_format__extra_only.jsonl
/voc.txt
/word_tokenizer.pkl
/deleteme/train__default_only_no_errors_except_segments_check__2023_10_30__17_19_52.jsonl
/deleteme/train__default_only__not_monotonical_time_or_exceeding_max_distance__ids.txt
/val_pred_2023_11_07__02_25_25.pkl
/test_pred_2023_11_07__02_25_25.pkl
/weights_fname_to_mrr.pkl
/med_getter.pkl
/test_raw_pred___best_model__2023_11_04__18_31_37__0.02530_default_switch_2.pt__best_model__2023_11_05__07_55_13__0.02516_extra_switch_2__with_pad_cutting.pt.pkl