requests==2.31.0  # for ./src/downloaders scripts only
gdown==5.2.0  # for ./src/downloaders scripts only
torch==2.0.1
tqdm==4.66.3
numpy==1.24.3
pandas==2.1.3  # for evaluate.py only
lightning==2.2.4  # for training only

### Requirements for baseline ###
h5py==3.9.0
matplotlib==3.8.0
tslearn==0.6.2
